.main {
  margin: 0;
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  z-index: -1;
}
/* .card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 1.5s;
    transform-style: preserve-3d;
  } */

.outside_shape {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 414px;
  height: 736px;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  border-radius: 50px;
  position: relative;
}

.inside_shape1 {
  height: 580px;
  background-color: white;
  margin-top: 90px;
  margin-left: 4%;
  margin-right: 4%;
  /* background-image: url("../img/phone_back.PNG"); */
  background-size: 381px 580px;
  position: relative;
  display: flex;
  flex-direction: column;
  /* border: 2px solid gray; */
}
.status_bar {
  position: absolute;
  height: 20px;
  /* background-color: white; */
  top: 90px;
  width: 92%;
  left: 16.5px;
}
.app_container {
  position: absolute;
  /* background-color: yellow; */
  height: 560px;
  width: 381px;
  top: 110px;
  left: 16.5px;
}

.test_app_1 > img {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
  width: 70px;
  margin-bottom: -10px;
}

.notch_bar {
  width: 100px;
  height: 70px;
  /* background-color: skyblue; */
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  margin-top: 20px;
  left: 40.5%;
}

.camera_container {
  width: 40px;
  position: absolute;
  right: 100px;
}

.camera {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #c0c0c0;
}

.speaker_container {
  width: 100px;
  margin-right: 20px;
}
.speaker {
  width: 80px;
  height: 5px;
  border-radius: 5px;
  background-color: #c0c0c0;
}

.bottom {
  /* background-color: skyblue; */
  width: 46.7%;
  height: 56px;
  position: absolute;
  top: 656px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  margin-top: 20px;
  position: absolute;
  left: 27%;
}
.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #c0c0c0;
}

.button_inside_container {
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
}
.button_inside {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
}
